# Dotfiles

alias conf='/usr/bin/git --git-dir=$HOME/.dotfiles --work-tree=$HOME'

# Applications
alias vim='nvim'
alias v='nvim'
alias k='kubectl'

# Suffix
alias -s pdf=firefox-nightly

# Helpers
alias ls='ls --color=auto'
alias l='ls -la'
