# Default editor
export EDITOR=nvim

# Colors
export KEYTIMEOUT=1
export QUOTING_STYLE=literal

# Tresorit
export PATH=${HOME}/.local/share/tresorit:$PATH

# Ruby
export GEM_HOME=${HOME}/gems
export PATH=${HOME}/gems/bin:$PATH
