# This is Git's per-user configuration file.
[user]
    username = maxrodrigo
	name = "Max Rodrigo"
	email = contact@maxrodrigo.com
[core]
    editor = nvim
    excludesfile = ~/.gitignore_global
[push]
    default = simple
[alias]
    la = "!git config -l | grep alias | cut -c 7-"

    cp = cherry-pick
    cl = clone

    ci = commit -a -v
    cm = commit -m

    st = status -s

    co = checkout
    cb = checkout -b

    diff = diff --word-diff
    dc = diff --cached

    bv = branch -vv
    ba = branch -ra
    bd = branch -d

    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    ld = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --graph
    ls = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative

    sl = stash list
    su = stash push --include-untracked -m
    so = stash pop

    tg = tag -a

    pu = push --tags
    un = reset --hard HEAD
    uh = reset --hard HEAD^
    d = difftool
[color]
    diff = auto
    status = auto
    branch = auto
[branch]
    autosetuprebase = always
[diff]
    tool = vimdiff
[difftool]
    prompt = false
