! URxvt settings
URxvt.borderless:       true
URxvt.externalBorder:   0
URxvt.internalBorder:   20
URxvt.depth:            32
URxvt.loginShell:       true
URxvt.scrollBar:        false
URxvt.cursorUnderline:  true

URxvt.transparent: false
URxvt*shading: 10

! Fonts
URxvt.font:         xft:DejaVuSansMono:size=9
URxvt.letterSpace:  -1
URxvt.cscale: 1.3

! Ext
URxvt.perl-ext-common:  resize-font

! XFT
Xft.antialias:  true
Xft.autohint:   false
Xft.dpi:        96
Xft.hinting:    true
Xft.hitstyle:   hintslight
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb

#include "/home/max/.config/Xresources/gruvbox.theme"
