configuration {
  modi: "run,window,calc,ssh";
  theme: "theme";
  font: "DejaVuSansMono 9";
  run-shell-command: "{terminal} --hold -e {cmd}";
  fixed-num-lines: true;
  sidebar-mode: true;
  threads: 5;
  window-format: "{c}   {t}";
  cache-dir: "~/.cache/rofi/";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
